@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

* {
    font-family: 'Acme', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

html {
    margin: 0;
    padding: 0;
    min-width: 100%;
}

body {
    margin-bottom: 40px;
    background: rgb(157, 160, 161);
    background: -moz-radial-gradient(circle, rgba(157, 160, 161, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(157, 160, 161, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: radial-gradient(circle, rgba(157, 160, 161, 1) 0%, rgba(0, 0, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9da0a1", endColorstr="#000000", GradientType=1);
    max-width: 100%;
}

.footer {
    position: fixed;
    bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.consulta-titulo{
    font-size: 3rem;
}
.consulta-cuerpo{
    font-size: 1.5rem;
}
.consulta-btn{
    border-radius: 0.5rem solid black;
    box-shadow: 5px 10px;
}
.img-nos:hover{
    opacity: 50%;
}
